  /* dashboard.css */
.main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
}

.info-section {
  flex: 1;
  padding-right: 20px;
}

.info-section p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.5;
}

.info {
  margin-bottom: 10px;
}

.image-section {
  flex: 0 0 500px; /* Adjust the width as needed */
}

.image-section img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}